body{
     margin: 0;
     font-family: 'Fira Sans', sans-serif;
}

/* Section : Banner */

#banner{
     background-image: url(./images/donation13.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     height: 100vh;
     text-align: center;
     padding-top: 100px;
}
.banner-text h1{
     color: white;
     font-size: 70px;
     font-family: 'Cairo', sans-serif;
     line-height: 87px;
}
.banner-text p{
     font-size: 23px;
     color: white;
     margin-bottom: 50px;
}
.donate-btn{
     color: white;
     text-decoration: none;
     background-color: #fc6462;
     padding: 16px 30px;
     border-radius: 10px;
     font-size: 22px;
}

/*Section: Donate now */

#donate-sec{
     margin-top: 100px;
     text-align: center;
}
.top-text h1{
     color: black;
     font-size: 60px;
     font-family: 'Cairo', sans-serif;
     line-height: 12px;
}
.top-text p{
     font-size: 24px;
}
.dnt-taka{
     display: flex;
     margin-left: 18.2%;
     margin-top: 50px;
     margin-bottom: 50px;

}
.dnt-taka h2{
     margin: 20px;
     background-color: rgba(221, 221, 221, 0.317);
     padding: 30px 20px;
     border-radius: 10px;
     font-size: 40px;
     color: rgba(0, 0, 0, 0.616);
     font-family: 'Cairo', sans-serif;
}
.dnt-taka .select-tk{
     background-color: #fc656225;
     color: #fc6462;
     border: 3px solid #fc6462;
}
.other-amt{
     padding-top: 10px;
}
.other-amt .input-data{
     width: 400px;
     text-align: center;
     padding: 20px 50px;
     outline: none;
     border-width: 0px;
     font-size: 22px;
}
.other-amt hr{
     width: 62%;
     margin-bottom: 40px;
}

/* section: Our donate plan */

#donate-plan{
     margin-top: 120px;
     margin-bottom: 50px;

}
.header-part h1{
     text-align: center;
     font-size: 60px;
     font-family: 'Cairo', sans-serif;
     margin-bottom: 0px;
}
.header-part p{
     text-align: center;
     font-size: 24px;
     margin-top: 0px;
}
.container-plan{
     display: flex;
     margin-left: 18%;
     margin-top: 3%;
}
.box{
     background-color: #bde0fe44;
     text-align: justify;
     margin-right: 20px;
     width: 250px;
     padding: 30px;
     border-radius: 10px;
}
#box-2{
     background-color: #ffc8dd56;
}
#box-3{
     background-color: #ffcdb248;
}