body{
     margin: 0;
     font-family: 'Fira Sans', sans-serif;
}

/* Section : Banner */

#banner{
     background-image: url(./images/donation13.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     height: 100vh;
     text-align: center;
     padding-top: 100px;
}
.banner-text h1{
     color: white;
     font-size: 70px;
     font-family: 'Cairo', sans-serif;
     line-height: 87px;
}
.banner-text p{
     font-size: 23px;
     color: white;
     margin-bottom: 50px;
}
.donate-btn{
     color: white;
     text-decoration: none;
     background-color: #fc6462;
     padding: 16px 30px;
     border-radius: 10px;
     font-size: 22px;
}

